name: Oracle Cloud Hunter

on:
  workflow_dispatch: 
  schedule:
    - cron: '*/15 * * * *' 

jobs:
  hunt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r "Ampere 24 ram 4 cpu/requirements.txt"
          pip install oci

      - name: Run Hunter Script
        env:
        
          OCI_USER_ID: ${{ secrets.OCI_USER_ID }}
          OCI_TENANCY_ID: ${{ secrets.OCI_TENANCY_ID }}
          OCI_FINGERPRINT: ${{ secrets.OCI_FINGERPRINT }}
          OCI_REGION: ${{ secrets.OCI_REGION }}
          OCI_KEY_CONTENT: ${{ secrets.OCI_KEY_CONTENT }}

          OCI_SUBNET_ID: ${{ secrets.OCI_SUBNET_ID }}
          OCI_IMAGE_ID: ${{ secrets.OCI_IMAGE_ID }}
        run: python "Ampere 24 ram 4 cpu/bot.py"
